body {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  background-color: white;
  color: #2C3E4C;
}

a {
  color:  #90D5FF;
  text-decoration: none;
}
a:hover {
  color: #2C3E4C;
  text-decoration: underline;
}

table {
  width: 100%;
  border:1px solid #001792;
  border-collapse: collapse;
  background-color: #90D5FF;
}

th {
  background-color: #2C3E4C;
  color: #90D5FF;
  padding: 10px;
}

td {
  padding: 8px;
  border: 1px solid #2C3E4C;
}

.recuadro-transparente {
  background-color: rgba(135, 206, 235, 0.3); /* celeste claro con transparencia */
  border: 1px solid rgba(135, 206, 235, 0.9); /* borde más fuerte */
  padding: 15px;
  margin: 20px 0;
  border-radius: 6px;
  font-style: italic;
}

button, .btn {
  background-color: #79A762;
  color: #F4DFB9;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
button:hover, .btn:hover {
  background-color: #2C3E4C;
  color: #F4DFB9;
}
.mcq {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 1em 0;
  background: #f7f7f7;
}
.mcq .feedback {
  font-weight: bold;
  margin-top: 10px;
}


